.dark {
  --c-default: #E5E5E5;
  --c-background: #090909;
  --c-link: #FFAC11;
  --c-text-code: #CBCBCB;
  --c-divider: #525259;
  --bg-code-inline: #282A36;
  --bg-code-block: #1A1A1A;
  --bg-soft: #2A2A2A;
}

.light {
  --c-default: #212121;
  --c-background: #FFFFFF;
  --c-link: #FFAC11;
  --c-text-code: #5D6F5D;
  --c-divider: #525259;
  --bg-code-inline: #F6F6F7;
  --bg-code-block: #7D7D7D10;
  --bg-soft: #7D7D7D10;
}

html.dark {
  color-scheme: dark;
}

body {
  color: var(--c-default);
  background: var(--c-background);
}

.after\:content-\[\'\'\]::after,
.before\:content-\[\'\'\]::before {
  content: '';
}