.dark {
  --c-default: #D3D3D6;
  --c-link: #FFAC11;
  --c-text-code: #CBCBCB;
  --bg-code-inline: #313136;
  --bg-code-block: #1A1A1ACC;
}

.light {
  --c-default: #212121;
  --c-link: #FFAC11;
  --c-text-code: #5D6F5D;
  --bg-code-inline: #F6F6F7;
  --bg-code-block: #7D7D7D10;
}

html.dark {
  color-scheme: dark;
  background: #121212;
}

body {
  color: var(--c-default);
}

.before\:content-\[\'\'\]::before {
  content: '';
}

.after\:content-\[\'\'\]::after {
  content: '';
}